.caixa-artista {
    padding: 20px;
    background-color: rgb(255, 255, 0);
    color: black;
    width: fit-content;
    margin: 10px;
}

.caixa-artista-nao-carregado {
    padding: 20px;
    background-color: rgb(255, 255, 95);
    color: black;
    width: fit-content;
    margin: 10px;
    animation-name: caixa-carregando;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes caixa-carregando {
    0% {
        background-color: rgb(248, 248, 26);
    }

    25% {
        background-color: rgb(253, 253, 63);
    }

    75% {
        background-color: rgb(253, 253, 63);
    }

    100% {
        background-color: rgb(248, 248, 26);
    }
}

.caixa-artista:hover {
    cursor: pointer;
    box-shadow: black 5px 5px;
    transition: box-shadow 0.25s;
}

.caixa-artista a {
    text-decoration: none;
    color: black;
}

.caixa-artista-imagem {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.caixa-artista-nome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 3px;
}