.lista-artistas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    left: 50%;
    position: relative;
    transform: translate(-50%);
}

.lista-artistas a {
    text-decoration: none;
}

.carregar-mais {
    margin-left: 15px;
}