.container-form-busca {
    margin-top: 100px;
}

.container-form-busca-menor {
    margin-top: 20px;
    transition: margin 0.5s;
}

.titulo-busca {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 35px;
    /*animation: titulo-busca 5.0s;
    animation-iteration-count: 1;*/
    width: fit-content;
    position: relative;
    left: 50%;
    padding: 5px;
    transform: translate(-50%);
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

@keyframes titulo-busca {
    0% {
        border-color: white;
    }

    25% {
        border-color: rgb(255, 255, 0);
    }

    75% {
        border-color: rgb(255, 255, 0);
    }

    100% {
        border-color: white;
    }
}

.input-termos {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    min-width: 50%;
    max-width: 75%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 5px;
    margin: 10px;
}

.input-submit {
    padding: 7px;
    background-image: linear-gradient(rgb(218, 218, 0), rgb(189, 189, 0));
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    cursor: pointer;
}

.tipo-busca,
.tipo-busca-selecionada {
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

.tipo-busca {
    border-color: rgb(219, 219, 179);
}

.tipo-busca-selecionada {
    border-color: rgb(158, 158, 0);
}